/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-color: lightgray;
}
h4 {
  font-size: 22px;
  font-weight: 500;
}
.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.container .header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.container .header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: darkgray;
  padding: 20px;
}
.container .top-content {
  display: flex;
  flex-wrap: wrap;
  margin: 40px;
  justify-content: space-between;
}
.container .top-content .headshot {
  border: 1px solid green;
  width: 40%;
  align-self: center;
}
.container .top-content .about {
  border: 1px solid blue;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin-bottom: 30px;
  align-self: center;
}
.container .top-content .skills {
  width: 47%;
}
@media (max-width: 500px) {
  .container .top-content .skills {
    width: 100%;
  }
}
.container .top-content .skills li {
  border-top: 1px solid gray;
  padding: 10px 0 10px 0;
}
.container .top-content .work-history {
  width: 47%;
}
@media (max-width: 500px) {
  .container .top-content .work-history {
    width: 100%;
  }
}
.container .top-content .workHistoryTable,
.container .top-content th,
.container .top-content tr,
.container .top-content td {
  border: 1px solid black;
  padding: 10px;
}
.container .top-content .workHistoryTable {
  width: 100%;
}
.container .bottom-content {
  margin: 40px;
}
.container .contact-form {
  width: 100%;
  border: 1px solid red;
  margin-top: 20px;
}
.container .contact-form input {
  padding: 9px 20px;
  margin: 8px 0;
}
.container .contact-form .textarea {
  height: 100px;
  width: 50%;
}
